h1{
    text-align: center;
}

.style-input{
    max-width: 500px;
    margin: 20px auto;
    padding: 0;
    font-family: Arial, sans-serif;
}

.style-input button {
    font-size: 15px;
    right: 10px;
    top: 10px;
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    height:40px;
    width: 110px;
}
.style-input button:hover {
    background-color: rgb(71, 209, 71);
}
.style-input input{
    font-size: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 8px;
}

#todo-list {
    max-width: 500px;
    margin: 20px auto;
    padding: 0;
    font-family: Arial, sans-serif;
}

#todo-list p {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 8px;
}

#todo-list span {
    font-size: 0.8em;
    color: #666;
    display: block;
    margin-top: 5px;
}

#todo-list button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

#todo-list button:hover {
    background-color: #c0392b;
}

